/* Container principal */
.container_barbershop {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.header_barbershop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10px;
  margin-bottom: 50px;
  padding: 20px 20px;
  background-color: #006DA4;
  border-radius: 10px;
  
  & h1 {
  margin: 5px;
  font-size: 32px;
  color: #fff;
  }

}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 20px;
}

.logoutButton {
  background-color: red;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 1px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Busca */
.searchContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: ease-in-out 1s;
  
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}

.filterButton {
  background-color: #006da4;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
  transition: ease-in-out 1s;
}

/* Filtros */
.filterMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  transition: ease-in-out 1s;
  
}

.filterInput {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: ease-in-out 1s;
  
}

/* Lista */
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  background-color: #022b42;
}

.image_barbearia {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.location {
  color: #fff;
}

.hours {
  color: #fff;
}

.viewButton {
  background-color: #006da4;
  color: white;
  border: none;
  padding: 1px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}



